# deps
node_modules/
.pnpm-store/

# build output
dist/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# test
coverage/

# env
.env
.env.*
!.env.example

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
