{
  "openapi": "3.1.0",
  "x-htag-used-in-default": ["rest-agents", "mcp"],
  "info": {
    "title": "HtAG Analytics API",
    "version": "2.0.0",
    "contact": {
      "name": "HtAG Developer Support",
      "url": "mailto:contact@htag.com.au",
      "email": "contact@htag.com.au"
    },
    "license": {
      "name": "HtAG Commercial License",
      "url": "https://www.htag.com.au/terms-and-conditions/"
    },
    "description": "Unified API specification for HtAG Analytics — Australia's property intelligence platform.\n\nThis specification covers the **External** (paid developer) surface of the HtAG Analytics API, organised by tag groups.\n\n## Authentication\n\nAll endpoints require an API key issued via the HtAG Developer Portal, sent in the `x-api-key` request header. See the security scheme below.\n\n## Billing & Usage Tracking\n\nEvery successful (`2xx`) response to a billable endpoint carries telemetry headers describing the cost and unit count of that request. Read them directly from the response to drive per-call charge-back, usage dashboards, or balance monitoring — no separate API call required.\n\n| Header | Example | Meaning |\n| --- | --- | --- |\n| `X-Billing-Cost` | `0.136` | Amount charged for this request, in AUD. |\n| `X-Billing-Balance` | `49.864` | Account balance (AUD) after this deduction. |\n| `X-Billing-Units` | `4` | Number of billable units counted (rows, addresses, or properties — endpoint-dependent). |\n| `X-Billing-Tier` | `tier1` | Pricing tier applied: `free`, `tier1`, `tier2`, or `tier3`. |\n| `X-Billing-Free-Remaining` | `21` | Free-tier units remaining on the account. Absent when no free allowance applies. |\n| `X-Billing-Free-Granted` | `1` | Free-tier units consumed by this request. Absent when no free allowance applies. |\n\nNotes:\n\n- Non-`2xx` responses (4xx / 5xx) are not charged and do not carry these\n  headers.\n\n- Browser clients (`fetch`, `XHR`) can read these headers via the\n  `Access-Control-Expose-Headers` policy already configured on the API.\n\n- `X-Billing-Cost` is a decimal string in AUD — there is no separate\n  \"credit\" currency; the account balance is denominated in AUD.\n\n\n## Attribution Notices\n\n- **ABS / SEIFA Data**: Certain endpoints return indicators derived from the Australian Bureau of Statistics (ABS),\n  including SEIFA indices (IRSD, IRSAD, IER, IEO) and Census-derived metrics (public housing rates, private rental rates).\n  This data is sourced from the ABS and licensed under the\n  [Creative Commons Attribution 4.0 International (CC BY 4.0)](https://creativecommons.org/licenses/by/4.0/) licence.\n  Users of this API must include the following attribution in any product or publication that incorporates this data:\n  **\"Incorporates data from the Australian Bureau of Statistics, © Commonwealth of Australia, licensed under CC BY 4.0.\"**\n\n- **GNAF**: Address data incorporates or is derived from the Geocoded National Address File (G-NAF)\n  © Geoscape Australia, licensed under the [End User Licence Agreement (EULA)](https://geoscape.com.au/legal/data-copyright-and-disclaimer/).\n"
  },
  "servers": [
    {
      "url": "https://api.htagai.com/v1",
      "description": "Production (External)"
    },
    {
      "url": "https://api.dev.htagai.com/v1",
      "description": "Development (External)"
    }
  ],
  "tags": [
    {
      "name": "Address Geocode",
      "description": "Address resolution and spatial identity lookups.\nReturns standardised address elements, coordinates, and canonical identifiers.\n"
    },
    {
      "name": "Address Environment",
      "description": "Environmental risk overlays for Australian addresses.\nReturns flood, bushfire, heritage, and zoning indicators.\n"
    },
    {
      "name": "Address Demographics",
      "description": "Socio-economic and demographic indicators for Australian addresses.\nReturns ABS SEIFA indices and Census-derived housing tenure metrics.\n\n**Attribution requirement**: Data in this endpoint is derived from the Australian Bureau of Statistics (ABS)\nand is licensed under CC BY 4.0. API consumers must include the following attribution:\n*\"Incorporates data from the Australian Bureau of Statistics, © Commonwealth of Australia, licensed under CC BY 4.0.\"*\n"
    },
    {
      "name": "Address Schools",
      "description": "Nearby school data for Australian addresses.\nReturns government schools (catchment zone match), Catholic and Independent schools (radius search),\nwith ACARA rankings and My School identifiers.\n"
    },
    {
      "name": "Address Standardisation",
      "description": "Batch standardisation of free-text Australian addresses into canonical components and address keys.\n"
    },
    {
      "name": "Address Features",
      "description": "Per-address environment, transport, lifestyle, hazard, safety, and aviation proximity indicators derived from OpenStreetMap data.\n\nEach endpoint exposes one strict thematic slice; clients compose multi-theme views by calling multiple endpoints with the same `address_keys` list.\n\nBulk-only lookup by `address_keys` (CSV, up to 50). Unknown keys are omitted from `results` — clients detect misses by comparing input length to `total`.\n"
    },
    {
      "name": "Property",
      "description": "Property-level intelligence including physical attributes, price and rent estimates,\nand sold property radius search.\n"
    },
    {
      "name": "Market Summary",
      "description": "Core market headline metrics — typical price, rent, yield, sales/rental volumes, estimated dwellings, and population.\n"
    },
    {
      "name": "Market Commentary",
      "description": "AI-generated narrative market commentary for suburbs and LGAs.\n"
    },
    {
      "name": "Market Growth",
      "description": "Multi-horizon cumulative and annualised growth rates for prices, rents, and yields.\n"
    },
    {
      "name": "Market Supply",
      "description": "Supply-side metrics including lot size, inventory, building approvals, and hold periods.\nIncludes current snapshots, long-term trends, and short-term trends via slope analysis.\n"
    },
    {
      "name": "Market Demand",
      "description": "Demand-side metrics including days on market, discounting, vacancy, clearance rate, and search interest.\nIncludes current snapshots, long-term trends, and short-term trends via slope analysis.\n"
    },
    {
      "name": "Market Scores",
      "description": "Relative Composite Score (RCS™) rankings, HAPI score, volatility index, and confidence levels.\n"
    },
    {
      "name": "Market Fundamentals",
      "description": "Socio-economic fundamentals including IRSAD, ownership/housing ratios, and affordability index (years to own).\n"
    },
    {
      "name": "Market Cycle",
      "description": "Growth rate cycle position, GRC index, growth projection decomposition (GPD), growth stability profile (GSP),\nand forward-looking projected annual returns.\n"
    },
    {
      "name": "Market Risk",
      "description": "Environmental risk indices (flood, bushfire) and economic diversity measures for an area.\n"
    },
    {
      "name": "Market Query",
      "description": "Query suburb or LGA market snapshots using a flexible public filter DSL.\nAccepts nested and/or/not logic plus eq/ne/gt/gte/lt/lte/in/nin/like/ilike operators across public metric names. Response is allow-listed to a compact set of headline fields.\n"
    },
    {
      "name": "Market Rank",
      "description": "Shortlist ranking: weighted decile scoring of a caller-supplied list of area_ids across configurable numeric metrics. Returns score and dense sequential rank per area_id, plus methodology diagnostics. Premium tier.\nScores are relative to the supplied shortlist — the same area in two different shortlists yields two different scores.\n"
    },
    {
      "name": "Market Trends",
      "description": "Market Trends domain: historical price, rent, yield, growth, demand profile, and monthly building approval trends.\n"
    },
    {
      "name": "Supply-Demand Trends",
      "description": "Detailed supply-demand trend endpoints (Restricted pricing tier, rate-limited to **10,000 billable rows per calendar month per API key** per endpoint; see each operation's `x-htg-rate-limit` extension).\nIncludes stock-on-market, inventory, days on market, clearance rate, vacancy, hold period, and search index trends.\n"
    },
    {
      "name": "Demographics",
      "description": "Suburb-level demographic and enrichment data derived from ABS Census 2021, CABEE business counts, and healthcare cluster pipelines.\nAll demographics endpoints are billed at the Standard tier ($0.034/row).\n"
    },
    {
      "name": "Spatial H3 — Price & Rent",
      "description": "H3-indexed median price, rent, gross yield, and years-to-own surfaces at resolutions 5–9.\nAll metric endpoints accept geographic filters (loc_pid, lga_pid, sa2_code, sa3_code, sa4_code, gcc_name) and property_type/beds/baths slicing.\n"
    },
    {
      "name": "Spatial H3 — Market",
      "description": "H3-indexed market activity surfaces: days on market, days on rental market (DORM), lot size, inventory months, holding return, vacancy, hold period, and listed price.\n"
    },
    {
      "name": "Spatial H3 — Socio-Environmental",
      "description": "H3-indexed socio-economic and environmental overlays: IRSD, IRSAD, IER, IEO deprivation indices, economic diversity, and flood/bushfire exposure percentages.\n"
    },
    {
      "name": "Spatial H3 — Reference",
      "description": "H3 grid reference utilities: available resolutions, cell geometry (boundary/center), hierarchical navigation (parent/children), and neighbour discovery.\n"
    },
    {
      "name": "Reference",
      "description": "Free reference data lookups for Australian localities (suburbs), LGAs (Local Government Areas), and address-key enumeration within a single geography.\nUse these endpoints to resolve area_id values used across all market endpoints, or to list address keys belonging to a specific SA1, SA2, locality, or LGA.\nReference endpoints are quota-limited per endpoint — see each operation's `x-htg-rate-limit` for the applicable monthly quota.\n"
    },
    {
      "name": "Concordance",
      "description": "Geographic concordance and translation between ABS statistical geographies (SA2, SAL, LGA code, postcode) and HTAG identifiers (loc_pid, lga_pid). Billed at the Reference tier ($0.001/row).\n\n## SA2 ↔ SAL (Locality) Area Mapping\n\nABS Statistical Area Level 2 (SA2) and Suburb/Locality (SAL) are two independent geographic classifications that **do not align**. A single SA2 can contain many localities, and a locality can span multiple SA2s. The `abs_sa2_sal_map` table provides area-based multipliers to convert metric values between these two geographies.\n\n### Multipliers\n\n| Field | Formula | Plain English |\n|-------|---------|---------------|\n| `area_perc_sal` | `SAL_area / SA2_area` | How big the locality is relative to the SA2 |\n| `area_perc_sa2` | `SA2_area / SAL_area` | How big the SA2 is relative to the locality |\n\nThese are reciprocals: `area_perc_sa2 = 1 / area_perc_sal`.\n\n### Converting SA2 → localities (distributing data down)\n\nUse `area_perc_sal` as the multiplier. Each locality receives its proportional share of the SA2-level value.\n\n```\nlocality_value = SA2_value × area_perc_sal\n```\n\n**Example:** If SA2 Braidwood (3,418 km², spanning 38 localities) has 100 building approvals, BRAIDWOOD locality (`area_perc_sal = 0.0686`) receives `100 × 0.0686 = 6.9` approvals.\n\n### Converting localities → SA2 (aggregating data up)\n\nFor rate/price metrics, weight each locality's contribution by its area share:\n\n```\nSA2_value = Σ (locality_value_i × area_perc_sal_i) / Σ (area_perc_sal_i)\n```\n\nFor counts (e.g. sales volume), simply sum the locality-level values.\n\n### Simple vs complex mappings\n\n- **1:1** — Lyneham, ACT: `area_perc_sal ≈ 0.99`, effectively a pass-through.\n- **1:many** — Braidwood SA2: 38 localities, each a small fraction (`area_perc_sal` 0.7%–7.8%). The `area_perc_sal` values sum to ~1.0.\n\n### Filtering & assumptions\n\nIntersection slivers where overlap < 5% of the locality's area are excluded. This is an **area-weighted proportional allocation** — it assumes uniform distribution. Works well for aggregate counts and volumes; less accurate for rate/price metrics in areas with uneven density.\n\nSource: geometric intersection of ABS SA2 (2021 edition) and SAL shapefiles.\n"
    },
    {
      "name": "CPI",
      "description": "Consumer Price Index adjustment utilities. Convert dollar values between quarters, retrieve CPI index series, and check latest values.\nSource: ABS Cat. 6401.0 — Consumer Price Index, All Groups.\n"
    },
    {
      "name": "Cash Rate",
      "description": "RBA official cash rate target — current value and full monthly time series.\nSource: Reserve Bank of Australia.\n"
    }
  ],
  "x-tagGroups": [
    {
      "name": "External API",
      "tags": [
        "Address Geocode",
        "Address Environment",
        "Address Demographics",
        "Address Schools",
        "Property",
        "Address Standardisation",
        "Address Features",
        "Market Summary",
        "Market Commentary",
        "Market Growth",
        "Market Supply",
        "Market Demand",
        "Market Scores",
        "Market Fundamentals",
        "Market Cycle",
        "Market Risk",
        "Market Query",
        "Market Rank",
        "Market Trends",
        "Supply-Demand Trends",
        "Demographics",
        "Spatial H3 — Price & Rent",
        "Spatial H3 — Market",
        "Spatial H3 — Socio-Environmental",
        "Spatial H3 — Reference",
        "Reference",
        "Concordance",
        "CPI",
        "Cash Rate"
      ]
    }
  ],
  "paths": {
    "/address/geocode": {
      "get": {
        "tags": ["Address Geocode"],
        "operationId": "getAddressGeocode",
        "x-htg-pricingTier": "Standard",
        "x-htag-used-in": ["rest-agents", "mcp"],
        "x-htag-mcp-tool": "get_address_geocode",
        "summary": "Resolve address identity and coordinates",
        "description": "Returns the canonical address key, GNAF identifiers, coordinates, ABS geography codes,\nmesh block classification, and standardised address elements for the requested address.\n\nQuery by free-text `address`. Optionally filter by `mb_category_2021`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Address"
          },
          {
            "$ref": "#/components/parameters/MbCategory2021"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum candidate matches to return. Omitted, the service default applies.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address geocode records matching the query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressGeocodeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/address/environment": {
      "get": {
        "tags": ["Address Environment"],
        "operationId": "getAddressEnvironment",
        "x-htg-pricingTier": "Enhanced",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve environmental risk overlays for an address",
        "description": "Returns flood, bushfire, heritage, and zoning indicators for the requested address(es).\n\n**Exactly one** of the following query parameters must be supplied:\n- `address` (free-text lookup)\n- `address_keys` (batch by canonical keys)\n- `legal_parcel_id` (by legal parcel)\n",
        "x-htg-exactlyOne": ["address", "address_keys", "legal_parcel_id"],
        "parameters": [
          {
            "$ref": "#/components/parameters/Address"
          },
          {
            "$ref": "#/components/parameters/AddressKeys"
          },
          {
            "$ref": "#/components/parameters/LegalParcelId"
          },
          {
            "$ref": "#/components/parameters/MbCategory2021"
          }
        ],
        "responses": {
          "200": {
            "description": "Environmental overlay records matching the query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressEnvironmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/address/demographics": {
      "get": {
        "tags": ["Address Demographics"],
        "operationId": "getAddressDemographics",
        "x-htg-pricingTier": "Standard",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve socio-economic and demographic indicators for an address",
        "description": "Returns ABS SEIFA indices and Census-derived housing tenure metrics for the requested address(es).\n\n## Attribution Requirement\n\nData returned by this endpoint is derived from the **Australian Bureau of Statistics (ABS)**\nand is licensed under the\n[Creative Commons Attribution 4.0 International (CC BY 4.0)](https://creativecommons.org/licenses/by/4.0/) licence.\n\n**API consumers MUST include the following attribution** in any product, report, or publication\nthat incorporates data from this endpoint:\n\n> *\"Incorporates data from the Australian Bureau of Statistics, © Commonwealth of Australia, licensed under CC BY 4.0.\"*\n\n### SEIFA Index Descriptions\n\n| Field  | Index Name                                          | Description |\n|--------|-----------------------------------------------------|-------------|\n| IRSD   | Index of Relative Socio-economic Disadvantage       | Summarises economic and social disadvantage (income, education, employment, housing). Lower decile = greater disadvantage. |\n| IRSAD  | Index of Relative Socio-economic Advantage and Disadvantage | Summarises both advantage and disadvantage. Lower decile = greater disadvantage; higher = greater advantage. |\n| IER    | Index of Economic Resources                         | Reflects financial aspects (income, housing costs, assets). |\n| IEO    | Index of Education and Occupation                   | Reflects education and occupation characteristics. |\n\nAll SEIFA fields are expressed as **decile ranks (1–10)** relative to the national distribution.\n\n**Exactly one** of the following query parameters must be supplied:\n- `address` (free-text lookup)\n- `address_keys` (batch by canonical keys)\n- `legal_parcel_id` (by legal parcel)\n",
        "x-htg-exactlyOne": ["address", "address_keys", "legal_parcel_id"],
        "parameters": [
          {
            "$ref": "#/components/parameters/Address"
          },
          {
            "$ref": "#/components/parameters/AddressKeys"
          },
          {
            "$ref": "#/components/parameters/LegalParcelId"
          },
          {
            "$ref": "#/components/parameters/MbCategory2021"
          }
        ],
        "responses": {
          "200": {
            "description": "Demographic indicator records matching the query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressDemographicsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/address/schools": {
      "get": {
        "tags": ["Address Schools"],
        "operationId": "getAddressSchools",
        "x-htg-pricingTier": "Standard",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve schools relevant to an address",
        "description": "Returns schools relevant to an Australian address.\n\n**Government (public) schools** are returned only if the address falls within the school’s official catchment zone (point-in-polygon match).\n\n**Catholic and Independent schools** are returned if they are within the specified search radius (default 5 km, max 50 km).\n\nEach school record includes the ACARA SML ID (for [My School](https://www.myschool.edu.au)), school name, sector, type, location, ACARA percentile ranking (where available), distance, and catchment flag.\n\n**Exactly one** of `address` or `address_key` must be supplied.\n",
        "x-htg-exactlyOne": ["address", "address_key"],
        "parameters": [
          {
            "$ref": "#/components/parameters/Address"
          },
          {
            "$ref": "#/components/parameters/AddressKey"
          },
          {
            "name": "radius_m",
            "in": "query",
            "description": "Search radius in metres for Catholic and Independent schools. Does not affect Government schools (catchment zones). Default 5000, max 50000.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1000,
              "maximum": 50000,
              "default": 5000
            },
            "example": 5000
          }
        ],
        "responses": {
          "200": {
            "description": "Schools matching the address query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressSchoolsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/address/standardise": {
      "post": {
        "tags": ["Address Standardisation"],
        "operationId": "batchStandardiseAustralianAddress",
        "x-htg-pricingTier": "Standard",
        "summary": "Batch standardise Australian addresses and generate address keys",
        "description": "Accepts up to 50 single-line (free text) Australian addresses, standardises each into\nits component elements, and generates a canonical address key.\nOnly Australian addresses are supported.\n\n**Ordering guarantee:** results are returned in the same order as the request's `addresses[]` array, and each result carries an `input_index` field pointing back to its position in the request. Clients should pair results with inputs by `input_index` rather than by positional or string matching.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchStandardiseAddressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Standardised addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStandardiseAddressResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/address/walkability": {
      "get": {
        "tags": ["Address Features"],
        "operationId": "getAddressWalkability",
        "x-htg-pricingTier": "Standard",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve walkability score and urban-tier classification for an address",
        "description": "Composite walkability score (0–10) and urban-tier classification for the requested address(es).\n\n**Note.** Roughly 10.6% of national addresses have `walkability_score = 0`. These are real zeros (remote / no POIs in radius), not nulls — do not filter them out as \"missing data\".\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/AddressKeysRequired"
          }
        ],
        "responses": {
          "200": {
            "description": "Walkability records matching the query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressWalkabilityResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/address/transport": {
      "get": {
        "tags": ["Address Features"],
        "operationId": "getAddressTransport",
        "x-htg-pricingTier": "Standard",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve public-transit, active-transport, and EV refuelling proximity for an address",
        "description": "Distance metrics for rail, bus, tram, and ferry infrastructure plus the nearest EV charging station.\n\n**Note.** `nearest_tram_stop_m` returns the sentinel value `200000` (never null) when no tram network covers the address — only Melbourne, Adelaide, parts of Sydney light rail, and the Gold Coast have tram networks. Every `nearest_*_m` field follows the same convention: numeric in every row, with `200000` indicating \"no qualifying feature within the search horizon\".\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/AddressKeysRequired"
          }
        ],
        "responses": {
          "200": {
            "description": "Transport proximity records matching the query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressTransportResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/address/cbd-proximity": {
      "get": {
        "tags": ["Address Features"],
        "operationId": "getAddressCbdProximity",
        "x-htg-pricingTier": "Standard",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve CBD, airport, and major-road proximity for an address",
        "description": "Long-distance travel context: distance to nearest CBD/GPO, airport, and major-road network.\n\n**Note.** `cbd_distance_m` measures distance to the nearest CBD/GPO Australia-wide — not to the capital city of the address's state.\n\nAirport here is \"distance to terminal as travel hub\". Aviation noise / overflight signals (flight path + runway axis) are exposed via `/address/aviation`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/AddressKeysRequired"
          }
        ],
        "responses": {
          "200": {
            "description": "CBD-proximity records matching the query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressCbdProximityResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/address/coastal": {
      "get": {
        "tags": ["Address Features"],
        "operationId": "getAddressCoastal",
        "x-htg-pricingTier": "Standard",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve coastal / water-adjacent feature proximity for an address",
        "description": "Beach, coastline, water-body, surf club, and marina proximity.\n\n`nearest_ferry_terminal_m` is intentionally exposed via `/address/transport` (transit theme), not here.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/AddressKeysRequired"
          }
        ],
        "responses": {
          "200": {
            "description": "Coastal-proximity records matching the query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressCoastalResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/address/green-space": {
      "get": {
        "tags": ["Address Features"],
        "operationId": "getAddressGreenSpace",
        "x-htg-pricingTier": "Standard",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve park, dog-park, and recreation proximity for an address",
        "description": "Park, dog-park, and recreation-area proximity and density.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/AddressKeysRequired"
          }
        ],
        "responses": {
          "200": {
            "description": "Green-space proximity records matching the query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressGreenSpaceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/address/amenities": {
      "get": {
        "tags": ["Address Features"],
        "operationId": "getAddressAmenities",
        "x-htg-pricingTier": "Standard",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve discretionary lifestyle amenities for an address",
        "description": "Dining, drinking, fitness, golf, and cultural amenities — cafés, restaurants, pubs, fitness specialty venues, golf courses, museum / galleries.\n\nDay-to-day essentials (supermarkets, healthcare, childcare, libraries, community centres) are exposed separately via `/address/essentials`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/AddressKeysRequired"
          }
        ],
        "responses": {
          "200": {
            "description": "Amenity records matching the query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressAmenitiesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/address/essentials": {
      "get": {
        "tags": ["Address Features"],
        "operationId": "getAddressEssentials",
        "x-htg-pricingTier": "Standard",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve day-to-day essentials and community services proximity for an address",
        "description": "Day-to-day necessities: groceries (supermarket, shopping centre, food retail), healthcare (hospital, medical clinic, pharmacy), childcare, university, plus community services (community centre, library).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/AddressKeysRequired"
          }
        ],
        "responses": {
          "200": {
            "description": "Essentials proximity records matching the query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressEssentialsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/address/hazards": {
      "get": {
        "tags": ["Address Features"],
        "operationId": "getAddressHazards",
        "x-htg-pricingTier": "Standard",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve hazard-adjacent landmark proximity for an address",
        "description": "Proximity to natural-hazard and culturally-undesirable landmarks: nearest bushfire-prone vegetation, landfill, cemetery.\n\n**Companion to `/address/environment`.** This endpoint returns the proximity-based view (\"how close is the risk landscape?\"). `/address/environment` returns the authoritative jurisdiction-flagged view (Y/N for flood, bushfire, heritage). Use both together for a complete risk picture.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/AddressKeysRequired"
          }
        ],
        "responses": {
          "200": {
            "description": "Hazard-proximity records matching the query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressHazardsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/address/nuisance": {
      "get": {
        "tags": ["Address Features"],
        "operationId": "getAddressNuisance",
        "x-htg-pricingTier": "Standard",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve industrial sites and electrical infrastructure adjacency for an address",
        "description": "Negative-signal due-diligence bundle: proximity to industrial sites and electrical infrastructure (power lines, substations).\n\nRoad and airport nuisance signals are exposed via `/address/cbd-proximity` (the distance fields there double as nuisance signals — `2 km from nearest major road` = well-connected; `40 m from nearest major road` = noise-affected). Flight-path noise is on `/address/aviation`. No duplication across endpoints.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/AddressKeysRequired"
          }
        ],
        "responses": {
          "200": {
            "description": "Nuisance-proximity records matching the query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressNuisanceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/address/safety": {
      "get": {
        "tags": ["Address Features"],
        "operationId": "getAddressSafety",
        "x-htg-pricingTier": "Standard",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve emergency-services proximity for an address",
        "description": "Distance to nearest fire station and police station, plus a 500 m police-presence boolean.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/AddressKeysRequired"
          }
        ],
        "responses": {
          "200": {
            "description": "Safety-services proximity records matching the query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressSafetyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/address/aviation": {
      "get": {
        "tags": ["Address Features"],
        "operationId": "getAddressAviation",
        "x-htg-pricingTier": "Standard",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve aviation flight-path and runway adjacency for an address",
        "description": "Flight-path overhead and runway adjacency signals. Differs from `/address/cbd-proximity` `nearest_commercial_airport_m` (which represents the scheduled-commercial terminal as a travel hub) — this endpoint captures aviation noise / overflight rather than airport access. The runway layer covers all aerodromes (including general aviation), so `nearest_runway_m` may be far smaller than `nearest_commercial_airport_m` for the same address.\n\n**Note.** `under_flight_path` is corridor membership — true iff the address sits within a runway's extended-centreline approach/ departure corridor (beyond the runway end) AND ≤ 1000 m laterally from that centreline. `nearest_runway_axis_distance_m` is the lateral distance from that centreline.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/AddressKeysRequired"
          }
        ],
        "responses": {
          "200": {
            "description": "Aviation-proximity records matching the query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressAviationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/address/road-infrastructure": {
      "get": {
        "tags": ["Address Features"],
        "operationId": "getAddressRoadInfrastructure",
        "x-htg-pricingTier": "Standard",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve local road-infrastructure features for an address",
        "description": "Local road-geometry features. Currently roundabouts only — distance to the nearest roundabout plus 50 m / 100 m presence booleans.\n\nLong-distance road connectivity (major roads, CBD, airport) is on `/address/cbd-proximity`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/AddressKeysRequired"
          }
        ],
        "responses": {
          "200": {
            "description": "Road-infrastructure proximity records matching the query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressRoadInfrastructureResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/property/summary": {
      "get": {
        "tags": ["Property"],
        "operationId": "getAddressProperty",
        "x-htg-pricingTier": "Standard",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve physical property attributes for an address",
        "description": "Returns the physical characteristics of the property at the specified address key,\nincluding property type, bedrooms, bathrooms, parking, land area, floor area,\nand build/renovation date.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/AddressKeyRequired"
          }
        ],
        "responses": {
          "200": {
            "description": "Property attribute record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressPropertyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/property/estimates": {
      "get": {
        "tags": ["Property"],
        "operationId": "getAddressEstimates",
        "x-htg-pricingTier": "Enhanced",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve valuation estimates and transaction history for an address",
        "description": "Returns index-adjusted CMA (comparative market analysis) estimates for sale price and rent.\nIndex-adjusted CMA: estimates produced by adjusting historical sale/rental prices by market index\n(typical price) changes since the last transaction date. Also returns the most recent sale and rental\ntransaction records for the specified address key.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/AddressKeyRequired"
          },
          {
            "name": "cma_method",
            "in": "query",
            "required": false,
            "description": "CMA methodology to use for estimates. Currently only Index-Adjusted (IA) is available.",
            "schema": {
              "type": "string",
              "enum": ["IA"],
              "default": "IA"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Valuation and transaction history record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressEstimatesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/property/market": {
      "get": {
        "tags": ["Property"],
        "operationId": "getPropertyMarket",
        "x-htg-pricingTier": "Enhanced",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve market position indicators for an address",
        "description": "Returns property-level market position metrics for the specified address key,\nincluding rental proportion, years to own, and typical hold period.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/AddressKeyRequired"
          }
        ],
        "responses": {
          "200": {
            "description": "Market position indicator record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressMarketResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/property/history": {
      "get": {
        "tags": ["Property"],
        "operationId": "getPropertyHistory",
        "x-htg-pricingTier": "Enhanced",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve the full sale and rental history for an address",
        "description": "Returns every recorded sale and/or rental transaction for the specified address key, ordered most-recent first within each array. Use `sold` and `rented` to choose which histories to return; by default both are returned. At least one of `sold` or `rented` must be true. Sale prices are whole AUD and rent values are weekly AUD/week. `property_type` is reported once at the top level as the canonical dwelling type of the most recent requested transaction; same-date ties prefer sale.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/AddressKeyRequired"
          },
          {
            "name": "sold",
            "in": "query",
            "required": false,
            "description": "Include sale history (default true).",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "rented",
            "in": "query",
            "required": false,
            "description": "Include rental history (default true).",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Property sale and/or rental history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyHistoryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/property/sold/search": {
      "get": {
        "tags": ["Property"],
        "operationId": "radiusSearchSoldProperties",
        "x-htg-pricingTier": "Enhanced",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Search for sold properties within a radius of an address or coordinates",
        "description": "Radius-based search of sold properties using an address key, free-text address, or lat/lon point.\n\nAt least **one** of `address`, `address_key`, or both `lat` and `lon` must be provided.\n\nSupports filters for radius, proximity, property type, price, dates, and features.\n\n**Proximity and radius.** `radius` applies only when `proximity` is `any` (the default). Both named modes ignore it: `sameSuburb` returns the whole suburb and `sameStreet` returns the whole street, however far from the anchor. For example `GET /property/sold/search?address_key=...&radius=500&proximity=sameSuburb` returns matching sales from across that suburb — the 500 m is discarded, not applied — and `proximity=sameStreet` likewise covers the entire street, while the same request with `proximity=any` returns only sales within 500 m of the anchor. Both named modes need an `address` or `address_key`. See the `proximity` parameter for the per-value rules.\n\n**Pagination.** Results are ordered by `sale_date` descending with `address_key` as a unique tie-breaker, then `offset` rows are skipped and up to `limit` rows returned. Omit both parameters to get `limit=100&offset=0` — for example `GET /property/sold/search?address_key=...` returns rows 1-100, and `GET /property/sold/search?address_key=...&limit=25&offset=50` returns rows 51-75. Advance `offset` by `limit` for the next page and stop when `total` is less than `limit`. An `offset` at or beyond the end returns `200` with an empty `results` array and `total: 0`.\n\n**Billing.** `total` is the number of rows in *this page* — not the count of all matching records — and is the billable row count. Rows skipped by `offset` are never returned and never charged.\n\n**Filter naming.** Every filter below is accepted under two spellings: the camelCase name and its snake_case twin (`saleValueMin` / `sale_value_min`, `startDate` / `start_date`, `propertyType` / `property_type`, and so on). Supply either. If you supply both, the **camelCase value wins** and the snake_case value is discarded silently — so do not send both with different values. An explicit `false` or `0` counts as a supplied value; only omitting a parameter falls through to its twin.\n\n**Date window.** `startDate` / `endDate` bound the sale date inclusively. Omitting `startDate` applies a default window of 90 days before the effective `endDate`. That is a default, not a maximum lookback: an explicit `startDate` a year back is honoured in full.\n\n**Price bounds and unknown prices.** `saleValueMin` / `saleValueMax` are inclusive. `includeSaleValueUnknown` governs rows whose sale price is unknown and applies only when no price bound is set: a price bound always excludes unknown prices, because an unknown price cannot be compared against a bound. Setting the flag `false` always excludes them.\n\n**Unrecognised parameters are rejected.** A query parameter this operation does not implement returns `400` with `error: \"unknown_query_parameters\"`, naming the offending parameters and — where one exists — the canonical parameter that replaces them. Nothing is queried and nothing is billed. Ignoring such a name, which is what happened before, turned a filtered-looking request into a billed, silently unfiltered result. `saleFromDate` and `saleToDate` were declared here until this change and are now rejected; use `startDate` / `endDate`. A misspelling is never matched to a nearby parameter — the response lists `accepted_parameters` instead, so you can correct it yourself.\n",
        "x-htg-anyOf": ["address", "address_key", ["lat", "lon"]],
        "parameters": [
          {
            "in": "query",
            "name": "address",
            "description": "Query by a freeform address.\n**Only one of `address`, `address_key`, `lon`, or `lat` can be provided in a single request.**\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "15 Miranda Court, Noble Park 3714, VIC"
          },
          {
            "$ref": "#/components/parameters/AddressKey"
          },
          {
            "$ref": "#/components/parameters/Lat"
          },
          {
            "$ref": "#/components/parameters/Lon"
          },
          {
            "$ref": "#/components/parameters/Radius"
          },
          {
            "in": "query",
            "name": "proximity",
            "description": "Spatial relation between the search anchor and the rows returned (default: `any`). Values are case-sensitive.\n\n- `any` — return sales within `radius` of the anchor.\n\n- `sameStreet` — **`radius` is ignored.** Returns matching sales from anywhere on the anchor's street, however far from the anchor, with the other filters and `limit`/`offset` applying as usual. The street is matched on its canonical name, type and suffix within the anchor's suburb, so a same-named street in another suburb, a different street type (`King Street` vs `King Avenue`) and a longer name (`Main` vs `Main Ridge`) are all excluded. A sale whose address is not present in HtAG's address reference data cannot be confirmed to be on the street and is not returned. Sales with no coordinates are included. Requires `address` or `address_key` — a `lat`/`lon`-only anchor has no street to match and is rejected with `400`.\n\n- `sameSuburb` — **`radius` is ignored.** Returns matching sales from anywhere in the anchor's suburb, however far from the anchor, with the other filters and `limit`/`offset` applying as usual. Sales with no coordinates are included. Requires `address` or `address_key` — a `lat`/`lon`-only anchor is rejected with `400`.\n\n`radius` is still range-checked when it is ignored, so `radius=6000&proximity=sameSuburb` (or `sameStreet`) is rejected as out of range before the search runs.",
            "schema": {
              "type": "string",
              "enum": ["any", "sameStreet", "sameSuburb"],
              "default": "any"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "propertyType",
            "description": "Filter by **canonical property type**. Accepts a comma-separated list or repeated query parameters (e.g. `propertyType=house,semi-detached` or `propertyType=house&propertyType=semi-detached`). Each canonical value expands server-side to the raw `property_type` rows it represents — for example `semi-detached` covers townhouses, villas, duplexes and terraces; `unit` covers units, apartments, flats and studios. Allowed canonical values: `house`, `unit`, `semi-detached`, `land`, `lifestyle-retirement`, `rural`, `other`. Omit to return all property types.",
            "required": false,
            "explode": true,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AddressPropertyGroupEnum"
              }
            }
          },
          {
            "in": "query",
            "name": "saleValueMin",
            "description": "Minimum sale value (AUD)",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "saleValueMax",
            "description": "Maximum sale value (AUD)",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "includeSaleValueUnknown",
            "description": "Include properties where sale value is unknown (default true)",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "required": false
          },
          {
            "in": "query",
            "name": "startDate",
            "description": "Include properties sold on or after this date (ISO 8601). Omitted, it defaults to 90 days before the effective `endDate`. That is a default, not a maximum lookback — an explicit earlier `startDate` is honoured in full.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "Include properties sold on or before this date (ISO 8601). Defaults to today.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "bedroomsMin",
            "description": "Minimum number of bedrooms",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "required": false
          },
          {
            "in": "query",
            "name": "bedroomsMax",
            "description": "Maximum number of bedrooms",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "required": false
          },
          {
            "in": "query",
            "name": "bathroomsMin",
            "description": "Minimum number of bathrooms",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "required": false
          },
          {
            "in": "query",
            "name": "bathroomsMax",
            "description": "Maximum number of bathrooms",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "required": false
          },
          {
            "in": "query",
            "name": "carSpacesMin",
            "description": "Minimum number of car spaces",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "required": false
          },
          {
            "in": "query",
            "name": "carSpacesMax",
            "description": "Maximum number of car spaces",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "required": false
          },
          {
            "in": "query",
            "name": "landAreaMin",
            "description": "Minimum land area in square metres",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "required": false
          },
          {
            "in": "query",
            "name": "landAreaMax",
            "description": "Maximum land area in square metres",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "required": false
          },
          {
            "in": "query",
            "name": "includeSameSuburbNoLatLon",
            "description": "For `address_key` queries, also include same-suburb properties that have no coordinates (default false).",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/SoldPropertyTypeSnake"
          },
          {
            "$ref": "#/components/parameters/SoldSaleValueMinSnake"
          },
          {
            "$ref": "#/components/parameters/SoldSaleValueMaxSnake"
          },
          {
            "$ref": "#/components/parameters/SoldIncludeSaleValueUnknownSnake"
          },
          {
            "$ref": "#/components/parameters/SoldIncludeSameSuburbNoLatLonSnake"
          },
          {
            "$ref": "#/components/parameters/SoldStartDateSnake"
          },
          {
            "$ref": "#/components/parameters/SoldEndDateSnake"
          },
          {
            "$ref": "#/components/parameters/SoldBedroomsMinSnake"
          },
          {
            "$ref": "#/components/parameters/SoldBedroomsMaxSnake"
          },
          {
            "$ref": "#/components/parameters/SoldBathroomsMinSnake"
          },
          {
            "$ref": "#/components/parameters/SoldBathroomsMaxSnake"
          },
          {
            "$ref": "#/components/parameters/SoldCarSpacesMinSnake"
          },
          {
            "$ref": "#/components/parameters/SoldCarSpacesMaxSnake"
          },
          {
            "$ref": "#/components/parameters/SoldLandAreaMinSnake"
          },
          {
            "$ref": "#/components/parameters/SoldLandAreaMaxSnake"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Maximum rows to return in one page. Defaults to 100 when omitted; must be an integer between 1 and 1000.",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "required": false,
            "example": 25
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Number of matching **rows** to skip before `limit` is applied. Defaults to 0 when omitted; must be an integer >= 0. This is a row offset, not a page number — `limit=25&offset=50` returns rows 51-75.",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            },
            "required": false,
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "One page of sold property records. `total` is the number of rows in this page (also the billable row count), not the count of all matching records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertySoldSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/property/rented/search": {
      "get": {
        "tags": ["Property"],
        "operationId": "radiusSearchRentedProperties",
        "x-htg-pricingTier": "Enhanced",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Search for rented properties within a radius of an address or coordinates",
        "description": "Radius-based search of rental listings using an address key, free-text address, or lat/lon point.\n\nAt least **one** of `address`, `address_key`, or both `lat` and `lon` must be provided.\n\nSupports filters for radius, proximity, property type, advertised rent, listing dates, and basic features.\n\n**Proximity and radius.** `radius` applies only when `proximity` is `any` (the default). Both named modes ignore it: `sameSuburb` returns the whole suburb and `sameStreet` the whole street, however far from the anchor. For example `GET /property/rented/search?address_key=...&radius=500&proximity=sameSuburb` returns matching listings from across that suburb — the 500 m is discarded, not applied — so `distance_km` on the returned rows can exceed `radius` under either named mode. Both named modes need an `address` or `address_key`. See the `proximity` parameter for the per-value rules.\n\n**Pagination.** Results are ordered by `list_date` descending with `address_key` as a tie-breaker, then `offset` rows are skipped and up to `limit` rows returned. Omit both parameters to get `limit=100&offset=0` — for example `GET /property/rented/search?address_key=...` returns rows 1-100, and `GET /property/rented/search?address_key=...&limit=25&offset=50` returns rows 51-75. Advance `offset` by `limit` for the next page and stop when `total` is less than `limit`. An `offset` at or beyond the end returns `200` with an empty `results` array and `total: 0`.\n\n**Billing.** `total` is the number of rows in *this page* — not the count of all matching records — and is the billable row count. Rows skipped by `offset` are never returned and never charged.\n\n**Filter naming.** Every filter below is accepted under two spellings: the camelCase name and its snake_case twin (`rentValueMin` / `rent_value_min`, `listedFromDate` / `listed_from_date`, `propertyType` / `property_type`, and so on). Supply either. If you supply both, the **camelCase value wins** and the snake_case value is discarded silently. An explicit `false` or `0` counts as a supplied value; only omitting a parameter falls through to its twin.\n\n**Unrecognised parameters are rejected.** A query parameter this operation does not implement returns `400` with `error: \"unknown_query_parameters\"`, naming the offending parameters and — where one exists — the canonical parameter that replaces them. Nothing is queried and nothing is billed. Ignoring such a name, which is what happened before, turned a filtered-looking request into a billed, silently unfiltered result. Sold search shares this behaviour, with its own parameter set — `bedrooms` and `bathrooms` are real filters here and unknown there. A misspelling is never matched to a nearby parameter — the response lists `accepted_parameters` instead, so you can correct it yourself.\n",
        "x-htg-anyOf": ["address", "address_key", ["lat", "lon"]],
        "parameters": [
          {
            "in": "query",
            "name": "address",
            "description": "Query by a freeform address.\n**Only one of `address`, `address_key`, `lon`, or `lat` can be provided in a single request.**\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "15 Miranda Court, Noble Park VIC 3174"
          },
          {
            "$ref": "#/components/parameters/AddressKey"
          },
          {
            "$ref": "#/components/parameters/Lat"
          },
          {
            "$ref": "#/components/parameters/Lon"
          },
          {
            "$ref": "#/components/parameters/Radius"
          },
          {
            "in": "query",
            "name": "proximity",
            "description": "Spatial relation between the search anchor and the rows returned (default: `any`). Values are case-sensitive.\n\n- `any` — return listings within `radius` of the anchor.\n\n- `sameStreet` — **`radius` is ignored.** Returns matching listings from anywhere on the anchor's street, however far from the anchor, with the other filters and `limit`/`offset` applying as usual. The street is matched on its canonical name, type and suffix within the anchor's suburb, so a same-named street in another suburb, a different street type (`King Street` vs `King Avenue`) and a longer name (`Main` vs `Main Ridge`) are all excluded. A listing whose address is not present in HtAG's address reference data cannot be confirmed to be on the street and is not returned. Listings still need coordinates to be returned, and `distance_km` can exceed `radius`. Requires `address` or `address_key` — a `lat`/`lon`-only anchor has no street to match and is rejected with `400`.\n\n- `sameSuburb` — **`radius` is ignored.** Returns matching listings from anywhere in the anchor's suburb, however far from the anchor, with the other filters and `limit`/`offset` applying as usual. Listings still need coordinates to be returned. Requires `address` or `address_key` — a `lat`/`lon`-only anchor is rejected with `400`.\n\n`radius` is still range-checked when it is ignored, so `radius=6000&proximity=sameSuburb` (or `sameStreet`) is rejected as out of range before the search runs.",
            "schema": {
              "type": "string",
              "enum": ["any", "sameStreet", "sameSuburb"],
              "default": "any"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "propertyType",
            "description": "Filter by **canonical property type**. Accepts a comma-separated list or repeated query parameters (e.g. `propertyType=house,semi-detached` or `propertyType=house&propertyType=semi-detached`). Each canonical value expands server-side to the raw `property_type` rows it represents — for example `semi-detached` covers townhouses, villas, duplexes and terraces; `unit` covers units, apartments, flats and studios. Allowed canonical values: `house`, `unit`, `semi-detached`, `land`, `lifestyle-retirement`, `rural`, `other`. Omit to return all property types.",
            "required": false,
            "explode": true,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AddressPropertyGroupEnum"
              }
            }
          },
          {
            "in": "query",
            "name": "rentValueMin",
            "description": "Minimum advertised rent (AUD per week)",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "rentValueMax",
            "description": "Maximum advertised rent (AUD per week)",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "includeRentValueUnknown",
            "description": "Include listings where the advertised rent is unknown (default true)",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "required": false
          },
          {
            "in": "query",
            "name": "listedFromDate",
            "description": "Include listings on or after this date (ISO 8601). Defaults to three months prior to today when omitted.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "listedToDate",
            "description": "Include listings on or before this date (ISO 8601). Defaults to today when omitted.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "bedrooms",
            "description": "Filter by exact number of bedrooms",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "bathrooms",
            "description": "Filter by exact number of bathrooms",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "$ref": "#/components/parameters/RentedPropertyTypeSnake"
          },
          {
            "$ref": "#/components/parameters/RentedRentValueMinSnake"
          },
          {
            "$ref": "#/components/parameters/RentedRentValueMaxSnake"
          },
          {
            "$ref": "#/components/parameters/RentedIncludeRentValueUnknownSnake"
          },
          {
            "$ref": "#/components/parameters/RentedListedFromDateSnake"
          },
          {
            "$ref": "#/components/parameters/RentedListedToDateSnake"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Maximum rows to return in one page. Defaults to 100 when omitted; must be an integer between 1 and 1000.",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "required": false,
            "example": 25
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Number of matching **rows** to skip before `limit` is applied. Defaults to 0 when omitted; must be an integer >= 0. This is a row offset, not a page number — `limit=25&offset=50` returns rows 51-75.",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            },
            "required": false,
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "One page of rented property records. `total` is the number of rows in this page (also the billable row count), not the count of all matching records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyRentedSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/property/cma-structural-adjustment": {
      "post": {
        "tags": ["Property"],
        "operationId": "postPropertyCmaStructuralAdjustment",
        "x-htg-pricingTier": "Premium",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Compute CMA structural adjustments between a subject and comparables",
        "description": "Returns **structural price or rent adjustments** between a subject property and up to 50 comparables. For each comparable the response includes a signed dollar adjustment for bed/bath/parking differences (the *structural leg*), a multiplicative size factor for land/floor-area differences (the *size leg*), a combined `adjusted_value`, and a confidence score (0–100).\n\n**Address resolution.** The subject is identified by `address_key` (obtain via `POST /address/standardise`). The handler resolves `address_key → loc_pid` internally. The caller never supplies `loc_pid`.\n\n**Property type normalisation.** Canonical values are `house`, `unit`, and `semi-detached`. Observed HTAG vocabularies (e.g. `apartment`, `townhouse`, `acreage`) are silently normalised to the canonical set before any processing; see the handoff doc §6 for the full alias table.\n\n**Not a valuation.** This endpoint produces CMA structural adjustments derived from locality-level regression curves — not valuations, appraisals, or bank-grade AVM output.\n\n**Pricing tier:** Restricted ($0.111 per comparable in the response). Each comparable = 1 billable row. A 50-comp request = 50 rows.\n\n**Deprecated alias.** `POST /property/structural-adjustment` (the pre-v2.3 path) returns a `301` redirect to this path with a `Deprecation: true` header and `Link: rel=\"successor-version\"`. The old path will be hard-removed in v2.4.x — migrate now.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuralAdjustmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Structural adjustments computed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StructuralAdjustmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StructuralAdjustmentErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Unsupported property type after normalisation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StructuralAdjustmentErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/markets/summary": {
      "get": {
        "tags": ["Market Summary"],
        "operationId": "getMarketSummary",
        "x-htg-pricingTier": "Standard",
        "x-htg-rate-limit": {
          "monthly": 100000,
          "unit": "billable-row"
        },
        "summary": "Retrieve core market headline metrics",
        "description": "Returns current market essentials: typical price, rent, yield, sales/rental volumes,\nestimated dwellings, adult population, and confidence level.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Level"
          },
          {
            "$ref": "#/components/parameters/AreaIdRequired"
          },
          {
            "$ref": "#/components/parameters/PropertyTypeOptional"
          },
          {
            "$ref": "#/components/parameters/Bedrooms"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Market summary records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketSummaryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/markets/commentary": {
      "get": {
        "tags": ["Market Commentary"],
        "operationId": "getMarketCommentary",
        "x-htg-pricingTier": "Premium",
        "x-htg-rate-limit": {
          "monthly": 10000,
          "unit": "billable-row"
        },
        "x-htag-used-in": ["rest-agents", "mcp"],
        "x-htag-mcp-tool": "get_market_commentary",
        "summary": "Retrieve AI-generated market commentary (rate-limited)",
        "description": "Returns a pre-generated, plain-text market commentary for a suburb or LGA — a narrative synthesis of the same underlying signals exposed by the structured market endpoints (price, rent, yield, supply/demand, IRSAD, affordability, risk), written as an \"outlook / pros / cons\" summary.\n\nOne commentary is produced per area per refresh; there is no property-type or bedroom segmentation. Each area's commentary describes that area's dominant market — the `house` or `unit` market, whichever dominates. Pass `level` (`suburb` or `lga`) and one or more `area_id` values. Only the latest generated commentary is returned; `generated_date` reports when it was produced.\n\nThese rows carry no `period_end`, so results are ordered by area id within the latest generation rather than by period.\n\n`total` is the number of rows in the current page — the same count as `results` — and is the billable row count for the call. It is deliberately not a pre-pagination total of all matching areas, because billing meters this field and a pre-pagination count would charge for rows the response never returned.\n\nRate-limited to 10,000 billable rows per calendar month.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Level"
          },
          {
            "$ref": "#/components/parameters/AreaIdRequired"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Market commentary records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketCommentaryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/markets/growth/cumulative": {
      "get": {
        "tags": ["Market Growth"],
        "operationId": "getMarketGrowthCumulative",
        "x-htg-pricingTier": "Enhanced",
        "x-htg-rate-limit": {
          "monthly": 10000,
          "unit": "billable-row"
        },
        "summary": "Retrieve cumulative growth rates",
        "description": "Multi-horizon cumulative growth rates for prices, rents, and yields.\nRaw period-over-period changes (e.g., `price_5y_growth` = total % change over 5 years). Field naming uses `{metric}_{period}_growth` for price and rent (e.g. `price_1y_growth`); yield fields use the same form.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Level"
          },
          {
            "$ref": "#/components/parameters/AreaIdRequired"
          },
          {
            "$ref": "#/components/parameters/PropertyTypeOptional"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Cumulative growth rate records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketGrowthResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/markets/growth/annualised": {
      "get": {
        "tags": ["Market Growth"],
        "operationId": "getMarketGrowthAnnualised",
        "x-htg-pricingTier": "Enhanced",
        "x-htg-rate-limit": {
          "monthly": 10000,
          "unit": "billable-row"
        },
        "summary": "Retrieve annualised compounded growth rates",
        "description": "Annualised compounded growth rates, computed from the matching cumulative figures (e.g. `price_5y_growth_annualised` = `(1 + price_5y_growth)^(1/5) − 1`). 1-year and shorter periods are identical to the cumulative values.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Level"
          },
          {
            "$ref": "#/components/parameters/AreaIdRequired"
          },
          {
            "$ref": "#/components/parameters/PropertyTypeOptional"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Annualised growth rate records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketGrowthAnnualisedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/markets/supply": {
      "get": {
        "tags": ["Market Supply"],
        "operationId": "getMarketSupply",
        "x-htg-pricingTier": "Enhanced",
        "x-htg-rate-limit": {
          "monthly": 10000,
          "unit": "billable-row"
        },
        "summary": "Retrieve supply-side metrics snapshot",
        "description": "Current supply-side snapshot: lot size, inventory, building approvals, and hold period.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Level"
          },
          {
            "$ref": "#/components/parameters/AreaIdRequired"
          },
          {
            "$ref": "#/components/parameters/PropertyTypeOptional"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Supply metric records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketSupplyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/markets/supply/ls": {
      "get": {
        "tags": ["Market Supply"],
        "operationId": "getMarketSupplyLongSlope",
        "x-htg-pricingTier": "Premium",
        "x-htg-rate-limit": {
          "monthly": 10000,
          "unit": "billable-row"
        },
        "summary": "Retrieve long-term supply slope metrics",
        "description": "Long-term slope (LS) of supply-side indicators, calculated via trend-analysis regression on metric time series. Response fields use the `ls_` prefix and represent long-term directional trends in supply metrics.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Level"
          },
          {
            "$ref": "#/components/parameters/AreaIdRequired"
          },
          {
            "$ref": "#/components/parameters/PropertyTypeOptional"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Long-term supply slope records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketSupplyLongSlopeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/markets/supply/ss": {
      "get": {
        "tags": ["Market Supply"],
        "operationId": "getMarketSupplyShortSlope",
        "x-htg-pricingTier": "Premium",
        "x-htg-rate-limit": {
          "monthly": 10000,
          "unit": "billable-row"
        },
        "summary": "Retrieve short-term supply slope metrics",
        "description": "Short-term slope (SS) of supply-side indicators, calculated via trend-analysis regression on metric time series. Response fields use the `ss_` prefix and represent recent directional trends in supply metrics.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Level"
          },
          {
            "$ref": "#/components/parameters/AreaIdRequired"
          },
          {
            "$ref": "#/components/parameters/PropertyTypeOptional"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Short-term supply slope records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketSupplyShortSlopeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/markets/demand": {
      "get": {
        "tags": ["Market Demand"],
        "operationId": "getMarketDemand",
        "x-htg-pricingTier": "Enhanced",
        "x-htg-rate-limit": {
          "monthly": 10000,
          "unit": "billable-row"
        },
        "summary": "Retrieve demand-side metrics snapshot",
        "description": "Current demand-side snapshot: days on market, discounting, vacancy, clearance rate, and search interest.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Level"
          },
          {
            "$ref": "#/components/parameters/AreaIdRequired"
          },
          {
            "$ref": "#/components/parameters/PropertyTypeOptional"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Demand metric records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDemandResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/markets/demand/ls": {
      "get": {
        "tags": ["Market Demand"],
        "operationId": "getMarketDemandLongSlope",
        "x-htg-pricingTier": "Premium",
        "x-htg-rate-limit": {
          "monthly": 10000,
          "unit": "billable-row"
        },
        "summary": "Retrieve long-term demand slope metrics",
        "description": "Long-term slope (LS) of demand-side indicators, calculated via trend analysis regression\non metric time series. These represent long-term directional trends in demand metrics.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Level"
          },
          {
            "$ref": "#/components/parameters/AreaIdRequired"
          },
          {
            "$ref": "#/components/parameters/PropertyTypeOptional"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Long-term demand slope records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDemandLongSlopeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/markets/demand/ss": {
      "get": {
        "tags": ["Market Demand"],
        "operationId": "getMarketDemandShortSlope",
        "x-htg-pricingTier": "Premium",
        "x-htg-rate-limit": {
          "monthly": 10000,
          "unit": "billable-row"
        },
        "summary": "Retrieve short-term demand slope metrics",
        "description": "Short-term slope (SS) of demand-side indicators, calculated via trend analysis regression\non metric time series. These represent recent directional trends in demand metrics.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Level"
          },
          {
            "$ref": "#/components/parameters/AreaIdRequired"
          },
          {
            "$ref": "#/components/parameters/PropertyTypeOptional"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Short-term demand slope records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDemandShortSlopeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/markets/scores": {
      "get": {
        "tags": ["Market Scores"],
        "operationId": "getMarketScores",
        "x-htg-pricingTier": "Premium",
        "x-htag-used-in": ["rest-agents", "mcp"],
        "x-htag-mcp-tool": "get_market_scores",
        "x-htg-rate-limit": {
          "monthly": 10000,
          "unit": "billable-row"
        },
        "summary": "Retrieve market scores and indices",
        "description": "Returns Relative Composite Score (RCS™) rankings, HAPI score, volatility index, and confidence level.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Level"
          },
          {
            "$ref": "#/components/parameters/AreaIdRequired"
          },
          {
            "$ref": "#/components/parameters/PropertyTypeOptional"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Market score records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketScoresResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/markets/rank": {
      "post": {
        "tags": ["Market Rank"],
        "operationId": "rankMarkets",
        "x-htg-pricingTier": "Premium",
        "x-htag-used-in": ["rest-agents"],
        "x-htg-rate-limit": {
          "monthly": 10000,
          "unit": "billable-row"
        },
        "summary": "Rank a shortlist of markets by weighted metric deciles",
        "description": "Computes a decile-based weighted score for each supplied `area_id` and returns a dense sequential ranking. Deciles are computed across the supplied shortlist only — scores are not portable across requests with different shortlists.\n\nBy default any unresolved `area_id` (no matching row for the requested `property_type` and `bedrooms`) causes a 400 with both `resolved_area_ids` and `unresolved_area_ids` in the error body. Pass `partial: true` to opt into silent omission with a `warnings` block instead; ranking still requires at least 2 resolved ids.\n\nPort of the legacy Dex `compute_ranks()` function. Premium tier only.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarketRankRequest"
              },
              "examples": {
                "suburbExample": {
                  "summary": "Rank 3 suburbs by 3 metrics",
                  "value": {
                    "level": "suburb",
                    "area_ids": ["VIC1198", "VIC110", "NSW101"],
                    "property_type": "house",
                    "bedrooms": "All",
                    "metrics": {
                      "rcs_lower_risk": {
                        "direction": "natural",
                        "weight": 5
                      },
                      "som_percent": {
                        "direction": "reverse",
                        "weight": 3
                      },
                      "price_1y_growth": {
                        "direction": "natural",
                        "weight": 2
                      }
                    }
                  }
                },
                "lgaPartialExample": {
                  "summary": "LGA ranking with partial mode enabled",
                  "value": {
                    "level": "lga",
                    "area_ids": ["NSW199", "VIC241", "NSW9999"],
                    "property_type": "unit",
                    "bedrooms": "3",
                    "partial": true,
                    "metrics": {
                      "rent_3y_cagr": {
                        "direction": "natural",
                        "weight": 4
                      },
                      "vacancy_rate": {
                        "direction": "reverse",
                        "weight": 2
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ranking results with diagnostics. Includes a `warnings` block only when partial mode dropped at least one unresolved id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketRankResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Happy path, all ids resolved",
                    "value": {
                      "results": [
                        {
                          "area_id": "VIC1198",
                          "level": "suburb",
                          "property_type": "house",
                          "bedrooms": "All",
                          "score": 76,
                          "rank": 1
                        },
                        {
                          "area_id": "VIC110",
                          "level": "suburb",
                          "property_type": "house",
                          "bedrooms": "All",
                          "score": 54,
                          "rank": 2
                        },
                        {
                          "area_id": "NSW101",
                          "level": "suburb",
                          "property_type": "house",
                          "bedrooms": "All",
                          "score": 32,
                          "rank": 3
                        }
                      ],
                      "diagnostics": {
                        "activeMetrics": 3,
                        "groupTotals": {
                          "rcs": 5,
                          "supply": 3,
                          "sales_price": 2
                        },
                        "dilutionRatio": 1.67,
                        "dilutionWarning": true,
                        "skippedMetrics": [],
                        "shortlistTooLarge": false
                      },
                      "total": 3,
                      "limit": 500,
                      "offset": 0
                    }
                  },
                  "partialWithWarnings": {
                    "summary": "Partial mode dropped an unresolved id",
                    "value": {
                      "results": [
                        {
                          "area_id": "NSW199",
                          "level": "lga",
                          "property_type": "unit",
                          "bedrooms": "3",
                          "score": 22,
                          "rank": 1
                        },
                        {
                          "area_id": "VIC241",
                          "level": "lga",
                          "property_type": "unit",
                          "bedrooms": "3",
                          "score": 14,
                          "rank": 2
                        }
                      ],
                      "diagnostics": {
                        "activeMetrics": 2,
                        "groupTotals": {
                          "returns_projections": 4,
                          "supply": 2
                        },
                        "dilutionRatio": 2,
                        "dilutionWarning": true,
                        "skippedMetrics": [],
                        "shortlistTooLarge": false
                      },
                      "warnings": {
                        "unresolved_area_ids": ["NSW9999"]
                      },
[...]
